#registro_usu{
    position:relative;      
    -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
    padding: 1em;
    background-color: white;
    border-radius: 0.5em;
}
body{
    background-color: #dedede;
}
#volverC{
    position: absolute;
    left: 100px;
    top: 260px;
}
